body {
	background-image: url("https://images.hdqwalls.com/download/motivation-typography-1366x768.jpg");
}
.container{
	width: 50%;
	height:auto;
	
	margin-left: 150px	;
	margin-top: 150px;
}

h1,h3{
	color:rgb(182, 201, 218);


}
#userInput{
	height: 33px;
	width: 310px;
}
.container .container2{
	margin-top: 45px;

}
@media only screen and (max-width:700px) {
 body{
	height: auto;
	width: auto;
 }






}